##########################################################
#
# This is a sample flask.cfg for developing a Flask application
#
##########################################################
import os


# Get the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'bad_secret_key'
WTF_CSRF_ENABLED = True
DEBUG = True

# Mongo Engine
MONGO_SRV = 'mongodb://localhost:27017/?readPreference=primary&appname=MongoDB%20Compass&ssl=false'
MONGO_DB = 'my_database'
MONGO_HOST = 'localhost'
MONGO_PORT = 27017


# Bcrypt algorithm hashing rounds
BCRYPT_LOG_ROUNDS = 15
