{% extends "base.html" %}

{% set title = 'Graql Viz' %}

{% block layout %}
<button class="btn btn-primary ms-auto" id="offcanvastoggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" href="#offcanvasRight" aria-controls="offcanvasRight">
    
    Options
</button>

   

{% endblock %}


<!-- off canvas -->
{% block canvas %}

<div class="offcanvas offcanvas-end bg-primary" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h2 id="offcanvasRightLabel">Options</h2>
      <button type="button" id="offcanvasclose" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active bg-active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Theme</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link bg-active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Forces</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link bg-active" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Properties</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container-fluid">
                    <h4>Nodes</h4>
                    <div class="row">
                        
                    </div>
        
                </div>
               
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">.profile..</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">.contact..</div>
          </div>
    </div>
  </div>

  {% endblock %}


{% block content %}

<button type="button" id='webcola' class="btn btn-primary btn-sm" onclick='showCola()'  >Use webCola</button>
<button type="button" id='shadows' class="btn btn-primary btn-sm" onclick='showAttributes()'  >Show Shadows</button>
<button type="button" id='groups' class="btn btn-primary btn-sm" onclick='showGroups()'  >Show Groups</button>
<button type="button" id='disconnect' class="btn btn-primary btn-sm" onclick='disconAttributes()'  >Disconnect Attributes</button>            
<button type="button" id='constraints' class="btn btn-primary btn-sm disabled" onclick='remConstraints()'  >Show Constraints</button>
<button type="button" id='map' class="btn btn-primary btn-sm " onclick='MapMe()'  >Map</button>

<button type="button" id='collapse' class="btn btn-primary btn-sm " data-bs-toggle="dropdown" aria-expanded="false"  >Collapse Groups</button>            
<ul class="dropdown-menu" id="collapse_dropdown" aria-labelledby="collapse"></ul>
<div class="row"> 
    <div class="full_viz svg-container-large " id="full_viz">
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Collapse Groups</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text h-100 selected-icon"></span>
                        </div>
                        <input type="text" class="form-control iconpicker">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>


<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="{{ url_for('static' , filename='visual/G_graph57.js') }}" crossorigin='anonymous'></script>
<script type="text/javascript" src="{{ url_for('static' , filename='visual/d3force.js') }}" crossorigin='anonymous'></script>
<script src="https://cdn.jsdelivr.net/gh/tgdwyer/WebCola/WebCola/cola.min.js"></script>
<script src="https://unpkg.com/codethereal-iconpicker@1.1.3/dist/iconpicker.js"></script>
<script type="text/javascript" src="{{ url_for('static' , filename='Fetch.js') }}" crossorigin='anonymous'></script>
<script type="text/javascript" src="{{ url_for('static' , filename='lodash.js') }}" crossorigin='anonymous'></script>


   
<script>
    // Make buttons invisible
    document.getElementById("disconnect").style.visibility = "hidden";
    document.getElementById("shadows").style.visibility = "hidden";
    document.getElementById("groups").style.visibility = "hidden";
    document.getElementById("constraints").style.visibility = "hidden";
    document.getElementById("collapse").style.visibility = "hidden";
    document.getElementById("map").style.visibility = "hidden";

    // setup iconpicker
    new Iconpicker(document.querySelector('.iconpicker'), {
        showSelectedIn: document.querySelector('.selected-icon'),
        defaultValue: 'bi-alarm'
    })

    
    
    var colaGraph = {{ colagraph | tojson }};
    var original = _.cloneDeep(colaGraph)
    var d3Graph = _.cloneDeep(colaGraph)
    var G_Grouped = {}
    if ('grouped' in colaGraph) {
        G_Grouped = colaGraph['grouped']
    }
    // logic variables and interactions
    var seeCola = false;
    var connected = true;
    var shadows = false;
    var dgroups = false;
    var addconstraints = false;
    var graph1 = null;
    
    
    
    console.log('============ import cola =======')
    console.log('colagraph is ', colaGraph)
    // import Grakn data
    var colourlist = {{ colorlist | tojson }};
    var theme = {{ theme | tojson }};
    console.log('colourlist is ', colourlist)
    console.log('theme is ', theme)
    //colaGraph['Collapsed'] = local_collapse
    //cycles = isCyclic(colaGraph)
      //  console.log('cycles ', cycles)
    console.log('================ try stringify colagrpah ============')
    try {
        JSON.stringify(colaGraph);
      } catch(e) {
        console.log(e);
      }

    function isCyclic(obj) {
    var keys = [];
    var stack = [];
    var stackSet = new Set();
    var detected = false;
    
    function detect(obj, key) {
        if (obj && typeof obj != 'object') { return; }
    
        if (stackSet.has(obj)) { // it's cyclic! Print the object and its locations.
        var oldindex = stack.indexOf(obj);
        var l1 = keys.join('.') + '.' + key;
        var l2 = keys.slice(0, oldindex + 1).join('.');
        console.log('CIRCULAR: ' + l1 + ' = ' + l2 + ' = ' + obj);
        console.log(obj);
        detected = true;
        return;
        }
    
        keys.push(key);
        stack.push(obj);
        stackSet.add(obj);
        for (var k in obj) { //dive on the object's children
        if (Object.prototype.hasOwnProperty.call(obj, k)) { detect(obj[k], k); }
        }
    
        keys.pop();
        stack.pop();
        stackSet.delete(obj);
        return;
    }
    
    detect(obj, 'obj');
    return detected;
    }

    function collapse_down(el) {
        console.log('inside collapse, el is -> ', el)
        collapse_label = el.id
        local_collapse = {}
        local_collapse['collapse_label'] = collapse_label
        //colaGraph['Collapsed'] = local_collapse
        // check
        console.log('colaGraph is ', colaGraph)
        cycles = isCyclic(original)
        console.log('original cycles ', cycles)
        console.log('collapse_label ', collapse_label)
        //colaGraph['Collapsed'] = local_collapse
        console.log('after colagrpah ', colaGraph)
        
        //console.log(this)
        //console.log('id is ', id, 'value is ', value)
        async function getCollapsed(){
            console.log('============================================') 
            console.log("going into the async GET collapse")
            original['collapse_label'] = collapse_label
            collapsed = await create('/get_collapsed', JSON.stringify(original));  
            console.log('----------------------====================')   
            console.log('my return colaGraph with collapsed in it is ', collapsed); 
            console.log('============================================') 
            var loc_nodes = collapsed['nodes'].filter(function (e, i) {
                return e.type == 'super'
            })
            console.log(loc_nodes[0])
            console.log(loc_nodes[0]['G_name'])
            if (loc_nodes[0]['G_name'] == "station") {
                // switch on map button
                console.log('%%%%%%%%%%%%%%%%%%%%%%% Load button %%%%%%%%%%%%%%%%%%%%%%%%')
                document.getElementById("map").style.visibility = "visible";
                //document.getElementById("map").disabled = false;
            }
            var y = document.getElementById("disconnect")
            y.innerHTML = 'Disconnect Attributes'
            connected = true;
            
            graph1.addCollapsed(collapsed)
        }
        getCollapsed();

    }

    // setup the Collapse dropdown
    if ('defined_list' in colaGraph) {
        
        var defined_list = colaGraph['defined_list']
        console.log('defined list is ', defined_list)
        var def_names_list = []
        for (var z=0; z<defined_list.length; z++) {
            l_name = defined_list[z]['ops']['label']
            def_names_list.push(l_name)
        }
        console.log('def names list is ', def_names_list)
        var collapse_label = ''

        var ul = document.getElementById('collapse_dropdown')
        for (var x=0; x<def_names_list.length; x++) {
            collapse_label = ''
            var li = document.createElement("li")
            var but = document.createElement("button")
            var local_name = def_names_list[x]
            but.type = 'button'
            but.className = "dropdown-item"
            but.innerHTML = def_names_list[x]
            but.id = def_names_list[x]
            but.onclick = function() {
                collapse_down(this)
            }
            li.appendChild(but)
            ul.appendChild(li)
            
        }

    }
    

    // Make buttons disabled if no groups
    if (Object.keys(G_Grouped).length == 0) {
        document.getElementById("disconnect").disabled = true;
        document.getElementById("shadows").disabled = true;
        document.getElementById("groups").disabled = true;
        document.getElementById("constraints").disabled = true;
        document.getElementById("collapse").disabled = true;
    }

    
    
    

    // default colour variables
    var ent_colour = '#03396c';
    var ent_t_colour = 'white';
    var att_colour = '#ff4d00';
    var att_t_colour = 'white';
    var shad_colour = "#ff4d00";
    var shad_t_colour = 'white';
    var rel_colour = '#007777';
    var rel_t_colour = 'black';
    var colours;

    colors = colourlist
    /*
    // load the colours from the theme
    ent_colour = colors.find(colour => colour.name == theme.entity.colorlist)['colors'][theme.entity.cindex];
    ent_t_colour = colors.find(colour => colour.name == theme.entity.tcolorlist)['colors'][theme.entity.tindex];
    att_colour = colors.find(colour => colour.name == theme.attribute.colorlist)['colors'][theme.attribute.cindex];
    att_t_colour = colors.find(colour => colour.name == theme.attribute.tcolorlist)['colors'][theme.attribute.tindex];
    shad_colour = colors.find(colour => colour.name == theme.shadow.colorlist)['colors'][theme.shadow.cindex];
    shad_t_colour = colors.find(colour => colour.name == theme.shadow.tcolorlist)['colors'][theme.shadow.tindex];
    rel_colour = colors.find(colour => colour.name == theme.relation.colorlist)['colors'][theme.relation.cindex];
    rel_t_colour = colors.find(colour => colour.name == theme.relation.tcolorlist)['colors'][theme.relation.tindex];
    */
    
    // default dimension variables
    const textPadding = 8;
    const corner = 5;
    const grp_corner = 8;
    const pad = 5;
    var mouseTipX = 20;
    var mouseTipY = 20;


    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    //      B. Setup SVG's and constraints
    //----------------------------------------------------------------------------------
    // add svg for the define function -left side of screen
    var screen_svgContainer = d3.select("#full_viz");
    var screen_svgWidth = parseInt(screen_svgContainer.style("width"),10);     
    var screen_svgHeight = parseInt(screen_svgContainer.style("height"),10); 
    const height = screen_svgHeight;
    const width = screen_svgWidth;
    
    
    console.log('svg width is -> ',screen_svgWidth)
    console.log('svg height is -> ',screen_svgHeight)
    
    

    var main_viz_svg = d3.select("#full_viz")
        .append("svg")
        .attr("preserveAspectRatio", "xMidYMid meet")
        .attr("viewBox", "0 0 " + screen_svgWidth.toString() + ' ' + screen_svgHeight.toString())
        .classed('svg-content', true)
        .call(d3.zoom().on("zoom", function () {
            main_viz_svg.attr("transform", d3.event.transform)
        }))
        .on("dblclick.zoom", null)
        .append("g");

    

/*
<button type="button" id='webcola' class="btn btn-primary btn-sm" onclick='Sel_webcola()'  >Use webCola</button>
<button type="button" id='shadows' class="btn btn-primary btn-sm" onclick='Sel_shadows()' disabled >Show Shadows</button>
<button type="button" id='groups' class="btn btn-primary btn-sm" onclick='Sel_groups()' disabled >Show Groups</button>
<button type="button" id='disconnect' class="btn btn-primary btn-sm" onclick='Sel_disconn()' disabled >Disconnect Attributes</button>
<button type="button" id='constraints' class="btn btn-primary btn-sm" onclick='Sel_constrain()' disabled >Remove Constraints</button>

if (JSON.stringify(colaGraph['grouped']) == '{}') {
        console.log('I am disabling buttons now')
        basicButton.disabled = true;
        disconButton.disabled = true;
        groupButton.disabled = true;
        detailButton.disabled = true;
    } else {
        console.log('I am enabling buttons now')
        basicButton.disabled = false;
        disconButton.disabled = false;
        groupButton.disabled = false;
        detailButton.disabled = false;
    }
*/    

    // logic variables and interactions
    var seeCola = false;
    var connected = true;
    var shadows = false;
    var dgroups = false;
    var addconstraints = false;
    var graph1 = null;
    
    
    
    document.onkeyup = keyhandler;
    function keyhandler(e) {
        if (e.keyCode === 32) {
            disconAttributes();
        }
    }
    function MapMe() {
        graph1.map()

    }

    function showCola() {
        console.log('entering show cola ')
        var x = document.getElementById("webcola")
        console.log('x is ->', x)
        if (seeCola) {
            // Make buttons invisible 
            document.getElementById("disconnect").style.visibility = "hidden";
            document.getElementById("shadows").style.visibility = "hidden";
            document.getElementById("groups").style.visibility = "hidden";
            document.getElementById("constraints").style.visibility = "hidden";
            document.getElementById("collapse").style.visibility = "hidden";
            document.getElementById("map").style.visibility = "hidden";
            //Add the d3 graph
            console.log('I want to see the d3')
            //Set the toggle to false, 
            seeCola = false;
            // first, kill off anything hanging onto the local svg
            main_viz_svg.selectAll('g').remove();
            console.log('local svg is -> ', main_viz_svg)
            graph1 = null;
            // show the d3
            
            console.log('cycles before switch to render() ', cycles)
            render(d3Graph, main_viz_svg, theme);
            x.innerHTML = 'Use webCola'
        } else {
            // Make buttons visible
            document.getElementById("disconnect").style.visibility = "visible";
            document.getElementById("shadows").style.visibility = "visible";
            document.getElementById("groups").style.visibility = "visible";
            document.getElementById("constraints").style.visibility = "visible";
            document.getElementById("collapse").style.visibility = "visible";
            // set the toggle to true     
            console.log('I want to see the colagraph')           
            seeCola = true;
            // first, kill off anything hanging onto the local svg
            main_viz_svg.selectAll('g').remove();
            graph1=null;
            console.log('local svg is -> ', main_viz_svg)
            // Add the webcola graph
            colaGraph = []
            colaGraph = _.cloneDeep(original)
            console.log('cycles before colagraph ', cycles)
            graph1 = new G_graph(colaGraph, main_viz_svg, theme)                   
            x.innerHTML = 'Back to d3 force'
        }
    }
    function remConstraints() {
        var x = document.getElementById("constraints")
        var y = document.getElementById("disconnect")
        if (addconstraints) {
            graph1.removeConstraints();            
            addconstraints = false;
            x.innerHTML = 'Show Constraints'
        } else {            
            graph1.addConstraints();
            connected = true;
            y.innerHTML = 'Disconnect Attributes'
            addconstraints = true;
            connected = true;
            //x.innerHTML = 'Disconnect Attributes'
            x.innerHTML = 'Remove Constraints'
        }
    }
    function showAttributes() {
        var x = document.getElementById("shadows")
        var y = document.getElementById("disconnect")
        if (shadows) {
            graph1.backtoBasics();
            shadows = false;
            x.innerHTML = 'Show Shadows'
        } else {
            graph1.addShadows();
            shadows = true;
            connected = true;
            x.innerHTML = 'Disconnect Attributes'
            x.innerHTML = 'Basic Grakn'
        }
    }
    function showGroups() {
        var x = document.getElementById("groups")
        var y = document.getElementById("disconnect")
        if (dgroups) {
            graph1.dissolveGroups();
            dgroups = false;
            x.innerHTML = 'Show Groups'
        } else {
            //cycles = isCyclic(colaGraph)
            //console.log('cycles before showgroups', cycles)
            graph1.setupGroups();
            connected = true;
            y.innerHTML = 'Disconnect Attributes'
            dgroups = true;
            x.innerHTML = 'Dissolve Groups'
        }
    }
    function disconAttributes() {
        var x = document.getElementById("disconnect")
        if (connected) {
            graph1.disconnAttributes();
            connected = false;
            x.innerHTML = 'Connect Attributes'
        } else {
            graph1.connAttributes();
            connected = true;
            x.innerHTML = 'Disconnect Attributes'
        }
    }
    

    

    console.log('buttons are loaded')

    console.log('================ try stringify colagrpah before first d3 render ============')
    try {
        JSON.stringify(colaGraph);
    } catch(e) {
        console.log(e);
    }
    cycles = isCyclic(colaGraph)
    console.log('render cycles ', cycles)

    // setup the data load into the graph
    render(d3Graph, main_viz_svg, theme);


</script>
   
{% endblock %}
